#advanced {
	position: absolute;
	height: 40px;
	top: 0px;
	right: 0px;
}

button {

	outline: 0;
	border-radius: 20px;
	background-color: rgba(0, 0, 0, .4);
	color: rgba(255, 255, 255, .6);
}

.illustration {
	margin: 10px;
	padding: 10px;
	float: left;
	display: table;
}

.caption {

	display: table-caption;
	caption-side: bottom;
	padding: 10px;
}
.blended {
	position: relative;
	min-width: 50px;
	min-height: 50px;
	display: inline-block;
	background-blend-mode: multiply;
}

.blendedImg {
	visibility: hidden;
}

#vizPane {
	top: 0px;
	left: 0px;
	width: 95%;
	height: 600px;
	position: absolute;
	font-size: 20px;
	font-family: narration;
	margin: 30px;
	overflow: hidden;
	background-color: black;
	border-radius: 40px;
	transition: all .1s ease-in-out;
	visibility: hidden;
}

#vizPane.open {
	visibility: visible;
}

.barLabel {
	position: relative;
	font-size: 10px;
	height: 12px;
}

.barSection {
	font-size: 12px;
	padding: 1px;
	position: absolute;
	height: 100%;
}

.barSection:hover {
	box-shadow: inset 0px 0px 8px 2px white;
}

.bar {

	position: absolute;
	float: left;
	bottom: 0px;
	left: 0px;
	width: 20px;
	height: 90%;
	background-color: rgba(30, 50, 60, .4);
}

.barHolder {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.symbolViz {

	overflow: hidden;
	position: relative;
	width: 160px;
	height: 200px;
	margin: 1px;
	float: left;
	background-color: rgba(90, 90, 90, .7);
}

.symbolViz.selected {
	background-color: rgba(230, 150, 250, 1);
}

.symbolVizLabel {
	width: 96%;
	position: absolute;
	bottom: 0px;
	float: left;
	font-size: 14px;
	padding: 0px 2px;
	background-color: rgba(250, 100, 235, 1);
}
