body {
	background-image: url("img/glitter.jpg");
}

@font-face {
	font-family: handwriting;
	src: url("font/Saint-Andrews Queen.ttf");
	/*
	 src: url("font/Baskerville.ttc");

	 src: url("font/DJB About a Boy.ttf");
	 src: url("font/SANTO___.otf");
	 src: url("font/Ellianarelle s Path.ttf");//
	 src: url("font/USDeclaration.ttf");//
	 src: url("font/Angelique ma douce Colombe.ttf");//
	 src: url("font/AquilineTwo.ttf");//
	 src: url("font/SANTO___.otf");//
	 src: url("font/Simplesnails ver 4.0.ttf");//
	 src: url("font/Volstead 2.ttf");
	 src: url("font/Phosf___.ttf");
	 src: url("font/SANTO___.otf");
	 src: url("font/AquilineTwo.ttf");
	 src: url("font/PersonalUse_ShippedGoods1.ttf");//
	 */
}

@font-face {
	font-family: narration;
	src: url("font/JosefinSans-Light.ttf");
}


@font-face {
	font-family: titleFont;
	src: url("font/JosefinSans-Regular.ttf");
}

@font-face {
	font-family: weather;
	src: url("font/JosefinSans-Italic.ttf");
}

#title {
	font-family: titleFont;
	margin: 10px auto;
	text-align: center;
	font-size: 40px;
	color: rgba(230, 200, 250, .5);
	box-shadow: inset 0px 0px 130px rgba(0, 0, 0, .3), 0px 0px 130px rgba(255, 100, 255, .8);
	background-color: rgba(30, 0, 60, .8);
}
#mainColumn {
	width: 80%;
	height: 1000px;
	border-radius: 20px;
	border: 6px solid rgba(250, 100, 255, .6);
	background-color: rgba(30, 0, 60, .8);
	box-shadow: inset 0px 0px 130px rgba(0, 0, 0, .3), 0px 0px 130px rgba(255, 100, 255, .8);
	margin: 40px auto;
}

#story {
	font-size: 20px;
	margin: 30px;
	font-family: narration;
	color: rgba(230, 200, 250, .8);
}

.weather {
	font-size: 15px;
	margin: 20px;
	font-family: weather;
	color: rgba(230, 120, 250, .8);
}

.touchable {

	color: rgba(230, 50, 250, .4);
}

.touchable:hover {

	color: rgba(230, 50, 250, .8);
}
.columnBG {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
