.tracery-node {
	display:inline-block;
	box-shadow:1px 1px 3px rgba(0, 0, 0, .5);
	border-radius:5px;
	margin:1px;
	padding:1px;
}
.tracery-node0 {
	background-color:rgba(185, 255, 255, 1);
}
.tracery-node1 {
	background-color:rgba(255, 255, 255, .3);
}

.tracery-node1.dynamic {
	background-color:rgba(255, 190, 25, .7);
}

.tracery-node1.missing {
	background-color:rgba(255, 0, 0, .6);
}
.tracery-node2 {
	background-color:rgba(255, 100, 55, 1);
}
.tracery-node.active {
	box-shadow:inset 0px 0px 2px 3px rgba(55, 255, 255, 1),box-shadow :1px 1px 3px rgba(0, 0, 0, .5);
}
.tracery-node0.active {
	box-shadow:inset 0px 0px 2px 3px rgba(55, 255, 255, 1),box-shadow :1px 1px 3px rgba(0, 0, 0, .5);
}
.tracery-node .header {
	padding:2px;
	font-size:10px;
	font-weight:italic;
}
.tracery-node .children {
	display:inline-block;
}


.tracery-node .action-text {
	padding:2px;
	font-size:10px;
	margin: 2px;
border-radius: 3px;
		background-color:rgba(255, 250,255, .5);
	
}
.tracery-node .action-command {
	padding:2px;
	font-size:10px;
}

.tracery-usage-graph {
	display:inline-block;
	background-color:rgba(55, 50, 55, .5);
	margin:2px;
	width:30%;
}
.tracery-usage-graph .label {
	font-size:12px;
	position:relative;
	height:20px;
	padding:2px;
	width:100%;
	color:rgba(255, 255, 255, .7);
}
.tracery-usage-graph .bars {
	position:relative;
	height:150px;
	width:100%;
	background-color:rgba(55, 50, 55, .5);
	overflow:hidden;
}
.tracery-usage-graph .bar {
	position:absolute;
	bottom:0px;
	width:100%;
	height:10px;
	font-size:10px;
	background-color:rgba(55, 50, 55, .5);
}
.tracery-usage-graph .bar-label {
	width:100%;
	height:10px;
	position:absolute;
	top:1px;
	left:6px;
	white-space:nowrap;
	color:rgba(255, 255, 255, .4);
	font-size:10px;
}

/*
 * Edit views
 *
 */
.vizedit-rulestack {
	margin:3px;
	min-width:10px;
	min-height:10px;
	display:inline-block;
	background-color:rgba(250, 130, 180, .9);
}
.vizedit-ruleset {
	margin:4px;
	min-width:10px;
	min-height:10px;
	display:inline-block;
	background-color:rgba(250, 30, 180, .9);
	opacity:.4;
}
.vizedit-ruleset.active {
	opacity:1;
}
.vizedit-rule {
	display:inline-block;
	padding:1px;
	margin:1px;
	font-size:10px;
	background-color:rgba(250, 250, 250, .3);
}
.vizedit-rule.selected {
	background-color:rgba(250, 250, 250, .9);
}
.vizedit-add {
	display:inline-block;
}
.vizedit-key {
	display:inline-block;
	padding:2px;
	margin:2px;
	font-size:10px;
	background-color:rgba(250, 250, 250, .3);
}
.vizedit-key.dynamic {
	display:inline-block;
	padding:2px;
	margin:2px;
	font-size:10px;
	background-color:rgba(220, 150, 250, .8);
}


