# Logs
logs
*.log
npm-debug.log*

*-scratch.html

# NPM!!!!
package-lock.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# node-waf configuration
.lock-wscript

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# environment file
.env

# Visual Studio Code configuration
.vscode

# intellij
.idea/
