#container {
	width: 960px;
	margin: 0 auto;
}

#content {
	margin: 40px;
	float: left;
	width: 480px;
}

.outputSample {
		margin: 10px;
	padding: 5px;
	background-color: rgb(250, 250, 255);
}

#content {
	margin: 40px;
	float: left;
	width: 480px;
}

#output {
	margin: 10px;
	padding: 5px;
	background-color: rgb(230, 200, 255);
}

#grammar {
		padding: 5px;
	margin: 10px;
	background-color: rgb(200, 230, 255);
}
